@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat';
}
 
 
 
  /* НАВИГАЦИЯ  */

  nav ul {
    display: inline-block; /* установка блока на одной строке */
    list-style: none; /* удаление маркеров списка */
    margin: 0 !important; /* удаление отступов */
    padding: 0 !important; /* удаление внутренних отступов */
  }
  
  nav li {
    display: inline-block;
    margin: auto 2.5em;
    
  }
  
  nav img{
    margin: 0 !important;
    padding: 0 !important;
  }
  
  nav a {
    text-decoration: none; /* удаление подчеркивания ссылок */
    color: #000 !important; /* установка цвета текста */
    font-weight: bold; /* установка жирного шрифта */
    font-size: 18px; /* установка размера шрифта */
    padding: 0 !important;
    
  }

  btn {
    color: #CB4E5D;
    border-color: #CB4E5D;
    border-width: 2px;
  }

  

  .nav-section {
    all: initial;
    text-align: center;
    background-color: transparent;
    border: none;
    display: flex; /* установка flexbox контейнера */
    justify-content: center; /* выравнивание по центру по горизонтали */
    align-items: center; /* выравнивание по центру по вертикали */
    height: 60px; /* задание высоты элемента */
    
}



.nav-btn {
    width: 176px;
    height: 45px;
    background-color: transparent;
    color: #CB4E5D;
    border-color: #CB4E5D;
    border-width: 2px;
  }


  /* Mini Menu */

.mini-mm{
  margin-top: 18px;
  margin-right: 400px !important ;
}

.a-link {
  padding: 0 !important;
}

.a-item {
  padding: 0 !important;
}

.icon-about {
  margin-left: 13px;
  padding-right: 5px;
}

/* Ways */
.wayss {
  margin-top: -110px;
}
.help-headers {
margin-left: -63px;
}

.card-imgs {
  width: 261px !important;
  height: 270px !important;
    padding: 0  !important;
  }
  
  .card-titles {
    padding-left: 20px !important;
    font-size: 20px;
    font-weight: 600;
  }

  .card-texts {
    padding-left: 20px;
  }

  .ways-containers {
    width: auto;
    margin-top: 41px;
  }
  .card1s {
    height: 271px !important;
    width: 573px !important;
    margin-left: -50px;
    margin-top: -20px;  
  }
  .card2s{
    margin-left: 0;
    height: 271px !important;
    width: 573px !important;
    margin-top: -20px; 
  }

  .card-horizontals {
    display: flex-start;
    flex-direction: row-reverse;
    flex: 1 1 auto;
}


/* Footer */

.footer-logo {
  height: 70px !important;
  width: 156px !important;
  margin-left: -45px !important;
}

.footer {
  width: 1900px;
  flex: auto;
  margin-top: 50px;
  text-decoration: none;
}

.footer-all {
  margin: 0;
  padding: 0;
  margin-top: 35px;
  text-decoration: none;
}

.column-f{
 width: 1900px;
}

.list-1 {
  margin-left: -170px;
}

.list-2 {
  margin-left: -170px;
}

.list-3 {
  margin-left: -185px;
}

.list-icon {
  margin: 0;
  margin-top: -7px;
}

.li-footer {
  padding-top: 10px;
}

a {
  color: #000 !important;
  text-decoration: none !important;
}

a:hover {
  color: #CB4E5D !important;
}



.fa-chevron-right {
  color: #000;
  margin-right: 7px;
}

.fa-globe {
  color: #000;
  margin-right: 7px;
}
.fa-envelope {
 color: #000;
 margin-right: 7px;
}

.fa-phone {
  color: #000;
  margin-right: 7px;
}